$transparent-black: rgba(0,0,0,0.45);

$box-background-color: #3b3b3b;
$background-color-darker:#0b0b0b;
$background-color:#1b1b1b;
$background-color-lighter:#2d2d2d;
$background-color-lighter-lighter: #494949;
$background-color-input: #454545;
$background-color-message-box: #21282c;

$text-color-darker-darker:#bbb;
$text-color-darker: #ddd;
$text-color:#eee;

$link-color-darker:#0b81c1;
$link-color:#0d91d9;
$link-color-hover:#68c9fd;

$border-color:#666;
$border-color-message-box: #4e6d7e;
