@import 'common';

/* crunchyroll.com/freetrial */
.freetrial-page
{
	.form-area, .premium-value-props, main>footer
	{
		color: #eee;
		background:#3b3b3b;
	}

	input.validated-input:invalid, textarea.validated-input:invalid
	{
		background: none;
	}

	.std-form
	{
		input, select, textarea
		{
			background-color:$background-color-input;
			color:$text-color;
		}

		fieldset, p, input, select, textarea
		{
			color:$text-color;
		}
	}

	small
	{
		color: #eee;
	}
}
