@import "common";

@mixin set-fill-and-color-hover {
	fill: $link-color-hover;
	color: $link-color-hover;
}

@mixin set-fill-and-color {
	fill: $link-color;
	color: $link-color;
}

#header,
#header-beta,
.erc-header,
.site-header,
.isolated-page-header {
	background-color: $background-color-lighter;
	color: $text-color;

	/* logo */
	#header,
	#header-beta .header-logo,
	.erc-header,
	.header-logo,
	.interstitial-header .logo-enUS,
	#logo_beta svg,
	.isolated-page-header svg {
		@include bright-invert;
	}

	.erc-browse-dropdown__content,
	.erc-events-dropdown__links {
		background-color: $background-color-lighter;	
	}
	
	.erc-account-menu {
		background-color: $background-color-lighter;	
	}
	
	.erc-account-menu--authenticated .erc-account-menu__user-email {
		color: $text-color;
	}
	.erc-user-actions__profile:hover,
	.erc-user-actions__profile.state-open,
	.erc-account-menu__link:hover {
		background-color: $background-color-darker;
		color: $link-color-hover;
	}
	

	.erc-account-menu__user-meta::before{
		opacity: 0;
	}
	.header-navigation {
		li {
			background-color: transparent;

			a,
			#header_profile_dropdown .caption,
			#store_button {
				color: $text-color;
			}

			a:hover,
			#header_profile_dropdown:hover .caption,
			#store_button:hover {
				color: $link-color-hover;
			}
		}
		.state-selected .header-icon {
			@include set-fill-and-color;
		}

		.header-icon:hover {
			@include set-fill-and-color-hover;
		}

		// this only displays on small screens  - it moves all the buttons into a hamburger menu
		.header-menubar ul {
			// this needs to  be the same as the #header_beta/.site_header color
			// otherwise it looks bad in desktop size windows
			background-color: $background-color-lighter
		}
	}

	.erc-header__content {
		a,
		#header_profile_dropdown .caption,
		#store_button,
		.erc-header__tile {
			color: $text-color;
		}
		a:hover,
		#header_profile_dropdown:hover .caption,
		#store_button:hover,
		.erc-header__tile:hover {
			color: $link-color-hover;
		}
	}

	.header-search-form {
		// the background only shows on small screen
		background: $background-color;

		.header-searchbox {
			@extend %search-box;
		}

		.header-searchbox::placeholder {
			@extend %search-box-placeholder;
		}

		.header-searchbox-submit {
			background-color: $background-color-lighter-lighter;
			border-left: 1px solid $border-color;

			svg {
				@include bright-invert;
				@include set-fill-and-color;
			}
		}

		:focus .header-searchbox-submit svg,
		:hover .header-searchbox-submit svg {
			@include set-fill-and-color-hover;
			filter: none;
		}

		:active .header-searchbox-submit svg {
			@include set-fill-and-color;
			filter: none;
		}
	}
}
